<div class="container">
    <div class="text-center mt-5">
        <h1>Todo list</h1>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <a  class="btn btn-light" [routerLink]="['/login']" routerLinkActive="active">login</a>
                <a  class="btn btn-light" [routerLink]="['/singup']" routerLinkActive="active">Singup</a>
            
            </div>
        </div>


    </div>
    <router-outlet></router-outlet>
    <p>Este es un parrafo</p>

</div>