<form>
  <div class="form-group">
    <label for="signupemail">Correo electronico</label>
    <input type="email" class="form-control" id="signupemail"  placeholder="Escribe tu Correo">
  </div>
  <div class="form-group">
    <label for="signupnombre">Nombre</label>
    <input type="text" class="form-control" id="signupnombre"  placeholder="Escribe tu Nombre">
  </div>
  <div class="form-group">
    <label for="signuplastname">Apellido Paterno</label>
    <input type="text" class="form-control" id="signuplastname"  placeholder="Escribe tu apellido paterno">
  </div>
  <div class="form-group">
    <label for="signupsecondlastname">Apellido Materno</label>
    <input type="text" class="form-control" id="signupsecondlastname"  placeholder="Escribe tu apellido materno">
  </div>
  <div class="form-group">
    <label for="signupUserName">Usuario</label>
    <input type="text" class="form-control" id="signupUserName"  placeholder="Crea tu usuario">
  </div>
  <div class="form-group">
    <label for="signuoPassword">Password</label>
    <input type="password" class="form-control" id="signuoPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="signuoPasswordConfirm">Confirmación Password</label>
    <input type="password" class="form-control" id="signuoPasswordConfirm" placeholder="Confirma tu Password">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
</form>


