<form class="card mt-3">
  <div class="card-body">
    <div class="form-group">
      <label for="signupemail">Correo electronico</label>
      <input type="email" class="form-control" id="signupemail" placeholder="Escribe tu Correo">
    </div>
    <div class="form-group">
      <label for="signupnombre">Nombre</label>
      <input type="text" class="form-control" id="signupnombre" placeholder="Escribe tu Nombre">
    </div>
    <div class="form-group">
      <label for="signuplastname">Apellido Paterno</label>
      <input type="text" class="form-control" id="signuplastname" placeholder="Escribe tu apellido paterno">
    </div>
    <div class="form-group">
      <label for="signupsecondlastname">Apellido Materno</label>
      <input type="text" class="form-control" id="signupsecondlastname" placeholder="Escribe tu apellido materno">
    </div>
    <div class="form-group">
      <label for="signupUserName">Usuario</label>
      <input type="text" class="form-control" id="signupUserName" placeholder="Crea tu usuario">
    </div>
    <div class="form-group custom-icon">
      <label for="signupPassword">{{passText}}</label>
      <input [type]="passwordPreviews.first ? 'password' : 'text' " class="form-control" id="signupPassword" [placeholder]="passText">
      <span class="preview-icon custom-icon" (click)="passwordPreviews.first = !passwordPreviews.first">
          <fa-icon [icon]="passwordPreviews.first ? 'eye' : 'eye-slash'"> </fa-icon>
      </span>
    </div>
    <div class="form-group custom-icon">
      <label for="signuoPasswordConfirm">Confirmación Password</label>
      <input [type]="passwordPreviews.confirm ? 'password' : 'text' " class="form-control" id="signuoPasswordConfirm" [placeholder]="passText">
      <span class="preview-icon custom-icon" (click)="passwordPreviews.confirm = !passwordPreviews.confirm">
          <fa-icon [icon]="getIcon(passwordPreviews.confirm)"> </fa-icon>
      </span>
    </div>
    <button  class="btn btn-primary btn-block" (click)="signup($event)">Registrarse</button>
  </div>
</form>


